@model WebApplication1.Controllers.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div class="text-black">
        Watek
    </div>
</div>
</body>
</html>